<form [formGroup]="formGroup">
  <div class="form-group">
    <label for="inputEmail1">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      aria-describedby="emailHelp"
      placeholder="Enter email"
      [formControlName]="form.EMAIL"
      [formGroup]="formGroup">
  </div>
  <div class="form-group">
    <label for="inputPassword1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Password"
      [formControlName]="form.PASSWORD"
      [formGroup]="formGroup">
  </div>
  <div class="form-group">
      <label for="inputPassword2">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Confirm Password"
        [appErrorHighlight]="form.isError(form.CONFIRM_PASSWORD)"
        [formControlName]="form.CONFIRM_PASSWORD"
        [formGroup]="formGroup">
  </div>
  <app-error [errorChange]="form.getErrorManager(form.CONFIRM_PASSWORD).error$"></app-error>
  <div class="form-group">
    <label for="numberOfDays">Days of Growing</label>
    <input
      type="number"
      class="form-control"
      placeholder="Enter # of Days."
      [appErrorHighlight]="form.isError(form.DAYS)"
      [formControlName]="form.DAYS"
      [formGroup]="formGroup">
    <small id="emailHelp" class="form-text text-muted">This is the number of days that your tranformation will take place.</small>
  </div>
  <app-error [errorChange]="form.getErrorManager(form.DAYS).error$"></app-error>
  <button type="submit" class="btn btn-primary" [formGroup]="formGroup" [disabled]="form.isAnyError()" (click)="onSubmit()" >Submit</button>
</form>
